<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lorem generator</title>
</head>
<body>
<h1>Lorem Generator</h1>
<div>Insert number:</div>

<form action="#" th:action="@{/}" th:object="${loremGenerator}" method="post">
    <input name="number" placeholder="Number">
    <select name="type">
        <option name="word">word</option>
        <option name="sentence">sentence</option>
        <option name="paragraph">paragraph</option>
    </select>
    <input type="submit" value="GENERATE"><br>
    <span th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></span><br/>
</form>
</body>
</html>