<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lorem Ipsum Generator</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="results.css" rel="stylesheet">
</head>
<body>
<main role="main" class="container">
    <h1 class="h3 my-3 font-weight-normal">Result:</h1>
    <p th:utext="${text}"/>
</main>
</body>
</html>